/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */

a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

main {
    background-image: linear-gradient(#009688 125px, #DBDBD3 0);
    padding: 25px 0;
}

ul {
    list-style-type: none;
}

/* Utilities */

/* Wrapper */
.wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

/* Flexbox */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
    flex-wrap: wrap;
}

/* Layout */

.row {
    height: calc(100vh - 50px);
}

.header {
    height: 50px;
    background-color: #EAEAEA;
}

.chat {
    height: calc(100vh - 100px);
    background-color: #FFF;
    overflow-y: auto;
}

.messages {
    height: calc(100vh - 150px);
    background-image: url(../img/background.png);
    overflow-y: auto;
}

.footer {
    height: 50px;
    background-color: #F3EEEA;
}